body{
    font-family: optima, sans-serif;
}

.container {
    display: flex;
}
  
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 220px;
    background-color: #2d698c;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.menu li a {
    display: block;
    padding: 10px 12px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ddd;
    color: #333;
}

.submenu {
    display: none; /* hide the submenu by default */
    list-style-type: none;
}
  
.menu li:hover .submenu {
    display: block; /* show the submenu when the parent li is hovered */
}

.submenu li{
    text-decoration: none;
}

.admin{
    color: white;
    padding: 50px 50px 50px 10px;
    display: flex;
}

.content {
    margin: 0 0 0 220px;
    max-width: 100%
}

.menuList{
    display: flex;
    margin: 20px;
}

#account-link{
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

.header1{
    display: flex;
    margin-top: -40px;
}

input[type = "text"]{
    height: 40px;
    width: 600px;
    border-radius: 5px;
    color: grey;
    border: 1px solid grey;
    margin-left: 30px;
}

.flex-content{
    display: flex;
    margin-top: 30px;
}


#filter{
    width:  40px;
    height: 42px;
    border: 1px solid grey; 
    border-radius: 5px;
    margin-left: 30px;
}

.delivery-earning{
    display: flex;
    margin-top: 60px;
}

.upcoming{
    /* border: 1px solid black; */
    margin-left: 30px;
    width: 100%;
}

h2{
    margin: 20px 0 10px 30px;
}


table {
    border: 1px solid black;
    border-collapse:separate;
    background-color: white;
    width: 100%;
    /* height: 380px; */
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    font-size: 1.2em;
}

th, td {
    padding: 30px;
    vertical-align: middle;
    border: 1px solid black;
}
  
th {
    font-weight: bold;
    text-align: center;
    background-color: #4587ad;
    color: white;
    border: none;
}

tr:hover {
    background-color: #ece8e8;
}


tr:hover {
    background-color: #ddd;
}

tr{
    border: 1px solid #2d698c;
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid black;
    border-color: black yellow ;
    margin: 10px 10px 0 60px;
}

.earning{
    border: 1px solid black;
    margin-left: 30px;
    width: 400px;
}

.circle h2{
    margin-left: 75px;
}

.noticications{
    width:  40px;
    height: 42px;
    margin-left: 30px;
    float: right;
}

.notification-holder{
    margin-left: 500px;
}

.buttons {
    
    background-color: #2f9915; /* Green */
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
}
  
.buttons:hover {
    padding: 10px 14px;
}

.buttons:active {
    background-color: #33ff00;
    color: black;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    transform: translateY(2px);
}

.buttons:focus {
    outline: none;
}

.buttons:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#sent-invoice{
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(173, 243, 173);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

#sent-invoice:hover{
    background-color: #2d698c;
    color: white;
    cursor: pointer;
}

