<!DOCTYPE html>
<html>
<head>
	<title>MedEase - Sign Up Vendor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/SignUp.css' )}}">
</head>
<body>
  <div class = "container">
      <div class="image">
        <img src="{{ url_for('static', filename = 'images/SignLogin.png' )}}" alt="Image">
      </div>

      <form class="form" method="POST" action="/create_clusters_customer">
        <h1><u>Register</u></h1>
        <div class = "login">Already have a account ? <a href="{{ url_for('login_page_customer') }}" style="text-decoration: none; color: blue;">Log in</a></div>

        <div class="inputContainer">
          <label class="label" for="cluster_name_prefix">User Name </label>
          <input type="text" name="cluster_name_prefix" id="cluster_name_prefix" class="input" placeholder="Abishek" required>
        </div>

        <div class="inputContainer">
          <label class="label" for="cluster_number">Phone Number</label>
          <input type="number" name="cluster_number" id="cluster_number" class="input" placeholder="+94 7*********" required>
        </div>

        <div class="inputContainer">
          <label class="label" for="cluster_email">Email Address</label>
          <input type="email" name="cluster_email" id="cluster_email" class="input" placeholder="medease@hotmail.com" required>
        </div>

        <div class="inputContainer">
          <label class="label" for="cluster_password">Password</label>
          <input type="password" class="input" name="cluster_password" id="cluster_password" required>
        </div>
  
        <div class="inputContainer">
          <label class="label">Confirm Password</label>
          <input type="password" class="input" placeholder="a" required>
        </div>
  
        <input type="submit" class="submitBtn" value="Next">
      </form>
  </div>
</body>
</html>
